<ibm-header name="Peripheral Loan" [route]="['home']">
  <ibm-header-navigation>
    <ibm-header-item *ngIf="user.ROLE_NAME == 'Administrator' || user.ROLE_NAME =='Focal' || user.ROLE_NAME=='Employee'"
      [route]="['home']">My Loans</ibm-header-item>
      <ibm-header-item [route]="['loan/AreaID']" *ngIf="user.ROLE_NAME == 'Administrator'|| user.ROLE_NAME =='Focal'">Area Loan
      </ibm-header-item>
      <ibm-header-item [route]="['dashboard']" *ngIf="user.ROLE_NAME == 'Administrator'|| user.ROLE_NAME =='Focal'">Dashboard
      </ibm-header-item>
      <ibm-header-item [route]="['manage']" *ngIf="user.ROLE_NAME == 'Administrator'">Manage User</ibm-header-item>
      <ibm-header-item [route]="['newperipheral']" *ngIf="user.ROLE_NAME == 'Administrator'">Register Devices</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action #firstAction title="action">
      <svg ibmIcon="user--avatar" size="20" width="20" height="20" viewBox="0 0 32 32">
        <path d="M16,8a5,5,0,1,0,5,5A5,5,0,0,0,16,8Zm0,8a3,3,0,1,1,3-3A3.0034,3.0034,0,0,1,16,16Z"></path>
        <path
          d="M16,2A14,14,0,1,0,30,16,14.0158,14.0158,0,0,0,16,2ZM10,26.3765V25a3.0033,3.0033,0,0,1,3-3h6a3.0033,3.0033,0,0,1,3,3v1.3765a11.8989,11.8989,0,0,1-12,0Zm13.9925-1.4507A5.0016,5.0016,0,0,0,19,20H13a5.0016,5.0016,0,0,0-4.9925,4.9258,12,12,0,1,1,15.985,0Z">
        </path>
      </svg>
    </ibm-header-action>
    <ibm-header-action #secondAction title="action">
      <svg ibmIcon="app-switcher" size="20" width="20" height="20" viewBox="0 0 32 32">
        <path
          d="M14 4H18V8H14zM4 4H8V8H4zM24 4H28V8H24zM14 14H18V18H14zM4 14H8V18H4zM24 14H28V18H24zM14 24H18V28H14zM4 24H8V28H4zM24 24H28V28H24z">
        </path>
      </svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>

<ibm-panel [expanded]="firstAction.active">
  <ibm-switcher-list>
    <img style="text-align:center; filter: invert(); padding: 0px 0px 20px 0px;" src="../../assets/profile.png"
      width="50px" alt="profile-picture">
    <div *ngFor="let item of Profile | keyvalue" class="tab">
      <div *ngFor="let profile of item.value">
        <div class="c">
          <p class="profile-bar-p">{{user.FIRST_NAME}} {{user.LAST_NAME}}</p>
          <hr>
          <p class="profile-bar-p" style="color: royalblue;">{{user.ROLE_NAME}}</p>
          <p class="profile-bar-p">Active Loans: {{numLoan}}</p>
        </div>
      </div>
    </div>
  </ibm-switcher-list>
</ibm-panel>

<ibm-panel [expanded]="secondAction.active">
  <ibm-switcher-list>
    <ibm-switcher-list-item [route]="['home']" *ngIf="user.ROLE_NAME == 'Administrator'|| user.ROLE_NAME =='Focal' || user.ROLE_NAME=='Employee'">My Loans</ibm-switcher-list-item>
    <hr>
    <ibm-switcher-list-item [route]="['loan/AreaID']" *ngIf="user.ROLE_NAME == 'Administrator'|| user.ROLE_NAME =='Focal'">Area Loan</ibm-switcher-list-item>
    <ibm-switcher-list-item [route]="['newloan']" *ngIf="user.ROLE_NAME == 'Administrator'|| user.ROLE_NAME =='Focal'">New Loan</ibm-switcher-list-item>
    <ibm-switcher-list-item [route]="['dashboard']" *ngIf="user.ROLE_NAME == 'Administrator'|| user.ROLE_NAME =='Focal'">Dashboard</ibm-switcher-list-item>
    <ibm-switcher-list-item [route]="['manage']" *ngIf="user.ROLE_NAME == 'Administrator'">Manage Users</ibm-switcher-list-item>
    <ibm-switcher-list-item [route]="['newperipheral']" *ngIf="user.ROLE_NAME == 'Administrator'">Register Peripheral</ibm-switcher-list-item>
    <hr>
    <ibm-switcher-list-item (click)="logout()">Log Out</ibm-switcher-list-item>
  </ibm-switcher-list>
</ibm-panel>
