@import '~carbon-components/scss/globals/scss/styles';

.overview-page__banner {
    min-height: 100vh;
    padding: $spacing-06;
    padding-top: $spacing-08;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    width: 80%;
    z-index: 100;
    padding: $spacing-08;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-06;
    grid-auto-rows: minmax(100px, auto);
}

.CardParent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $spacing-06;
    grid-auto-rows: minmax(100px, auto);
}

.DeviceCard {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacing-03;
}

.DeviceCard>img {
    width: 120px;
}

.DeviceCard--Info {
    width: 100%;
}